# Importações

In [1]:
import pandas as pd
from statsforecast import StatsForecast
# import matplotlib.pyplot as plt

/home/xande/Desenvolvimento/dengue-arima-fortaleza/venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Carregando dataframe

In [2]:
df = pd.read_csv("dataset/fortaleza.csv", index_col="SE")

# Separando dado de teste (ano de 2025)

In [10]:
df["ds"] = pd.to_datetime(df["ds"])
y_test = df[df.ds.dt.year == 2025]

In [11]:
y_test

               ds    y  unique_id
SE
202520 2025-05-11   16          1
202519 2025-05-04   70          1
202518 2025-04-27  109          1
202517 2025-04-20  122          1
202516 2025-04-13  114          1
202515 2025-04-06  102          1
202514 2025-03-30  142          1
202513 2025-03-23  146          1
202512 2025-03-16  154          1
202511 2025-03-09  166          1
202510 2025-03-02  115          1
202509 2025-02-23  105          1
202508 2025-02-16  109          1
202507 2025-02-09  110          1
202506 2025-02-02   84          1
202505 2025-01-26   73          1
202504 2025-01-19   98          1
202503 2025-01-12   68          1
202502 2025-01-05   81          1

# Carregando o modelo treinado anteriormente

In [ ]:
model = StatsForecast.load(path="modelos/modelo_2025")

# Predição para o ano de 2025

In [ ]:
y_predict = model.predict(h=52)
y_predict

# Salvando a predição

In [ ]:
y_predict.to_csv(path="predicts/predict_2025.csv")