# Importações

In [5]:
import pandas as pd
from statsforecast import StatsForecast
from statsforecast.models import AutoARIMA
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np

# Carregar dataset

In [3]:
df = pd.read_csv("dataset/fortaleza-2024.csv", index_col="SE")

# Validação Cruzada

In [4]:
st = StatsForecast(models=[AutoARIMA()], freq="W")

cross_validation = st.cross_validation(df=df, h=52, step_size=3, n_windows=10, level=[80])

In [6]:
cross_validation

,unique_id,ds,cutoff,y,AutoARIMA,AutoARIMA-lo-80,AutoARIMA-hi-80
0,1,2023-06-25,2023-06-18,252.0,289.038788,89.005829,489.071777
1,1,2023-07-02,2023-06-18,313.0,298.441895,-30.217079,627.100891
2,1,2023-07-09,2023-06-18,302.0,303.049744,-134.696533,740.796021
3,1,2023-07-16,2023-06-18,244.0,320.048309,-216.313080,856.409668
4,1,2023-07-23,2023-06-18,203.0,344.326263,-289.249908,977.902466
...,...,...,...,...,...,...,...
515,1,2024-11-24,2023-12-24,99.0,481.845825,-366.349976,1330.041626
516,1,2024-12-01,2023-12-24,85.0,481.930481,-366.265625,1330.126587
517,1,2024-12-08,2023-12-24,82.0,482.004059,-366.192261,1330.200317
518,1,2024-12-15,2023-12-24,65.0,482.067963,-366.128510,1330.264404
519,1,2024-12-22,2023-12-24,42.0,482.123505,-366.073059,1330.320068

# Métricas

In [7]:
y_true = cross_validation["y"]
y_pred = cross_validation["AutoARIMA"]

mse = mean_squared_error(y_true, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_true, y_pred)

# Mostrando Métricas

In [8]:
print(f"MSE: {mse:.2f}")
print(f"RMSE: {rmse:.2f}")
print(f"MAE: {mae:.2f}\n")

MSE: 76131.92
RMSE: 275.92
MAE: 247.80