In [20]:
import pandas as pd
from os import getcwd
from statsforecast import StatsForecast
from statsforecast.models import AutoARIMA

df = pd.read_csv(getcwd() + "/fortaleza.csv", index_col="SE")
df

              data  casos   ano  mes  dia  semana
SE
202452  2024-12-22     43  2024   12   22      52
202451  2024-12-15     71  2024   12   15      51
202450  2024-12-08     81  2024   12    8      50
202449  2024-12-01     84  2024   12    1      49
202448  2024-11-24     99  2024   11   24      48
...            ...    ...   ...  ...  ...     ...
201405  2014-01-26    180  2014    1   26       5
201404  2014-01-19    150  2014    1   19       4
201403  2014-01-12    107  2014    1   12       3
201402  2014-01-05     77  2014    1    5       2
201401  2013-12-29     40  2013   12   29       1

[574 rows x 6 columns]

In [11]:
models = [AutoARIMA(season_length=52)]
models

[AutoARIMA]

In [12]:
model = StatsForecast(models=models, freq="W")
model

StatsForecast(models=[AutoARIMA])

In [13]:
y_train = df[df.ano < 2024]
y_train

              data  casos   ano  mes  dia  semana
SE
202401  2023-12-31    145  2023   12   31       1
202352  2023-12-24     34  2023   12   24      52
202351  2023-12-17     27  2023   12   17      51
202350  2023-12-10     72  2023   12   10      50
202349  2023-12-03     96  2023   12    3      49
...            ...    ...   ...  ...  ...     ...
201405  2014-01-26    180  2014    1   26       5
201404  2014-01-19    150  2014    1   19       4
201403  2014-01-12    107  2014    1   12       3
201402  2014-01-05     77  2014    1    5       2
201401  2013-12-29     40  2013   12   29       1

[523 rows x 6 columns]

In [21]:
df = df.rename(columns={"casos":"y","data":"ds"})
df["unique_id"] = "1"
df

                ds    y   ano  mes  dia  semana unique_id
SE
202452  2024-12-22   43  2024   12   22      52         1
202451  2024-12-15   71  2024   12   15      51         1
202450  2024-12-08   81  2024   12    8      50         1
202449  2024-12-01   84  2024   12    1      49         1
202448  2024-11-24   99  2024   11   24      48         1
...            ...  ...   ...  ...  ...     ...       ...
201405  2014-01-26  180  2014    1   26       5         1
201404  2014-01-19  150  2014    1   19       4         1
201403  2014-01-12  107  2014    1   12       3         1
201402  2014-01-05   77  2014    1    5       2         1
201401  2013-12-29   40  2013   12   29       1         1

[574 rows x 7 columns]

In [ ]:

model.fit(df=df)

StatsForecast(models=[AutoARIMA])

In [31]:
model.save(path='modelo')

Saving StatsForecast object of size 127.52KB.
StatsForecast object saved

In [4]:
import pandas as pd
from statsforecast import StatsForecast

# Carregando dataframe
df = pd.read_csv("fortaleza.csv", index_col="SE")

# Separando dado de teste (ano de 2024)
y_test = df[df.ano == 2024]

# Carregando o modelo treinado anteriormente
model = StatsForecast.load(path="modelo")
model

StatsForecast(models=[AutoARIMA])

In [18]:
x_future = {
  "ano": y_test["ano"],
  "mes": y_test["mes"],
  "dia": y_test["dia"],
  "semana": y_test["semana"]
}

In [ ]:
y_predict = model.predict(h=52, X_df=pd.DataFrame(x_future))

AttributeError: module 'pandas' has no attribute 'dataframe'